*{
    
    margin: 0;
    justify-content: center;
}

.all{
    padding: 50px;
    margin-left: 400px;
    margin-top: 100px;
    background-color: #1D84B5;
    width: 50%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    
}

.rules{
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    

}

#form{
    background-color: #53A2BE;
    border-radius: 20px;
    padding: 18px;
}